body {
    padding: 50px;
    font: 14px "Lucinda Grande", Helvetica, Arial, sans-serif
}

header {
    text-align: center;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid blue;
}

h1, h2, h3 {
    margin: 0.5em auto;
}

input[type=text], textarea {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 15em;
}

.comment {
    font-size: .8em;
}

.attribution {
    font-size: .8em;
    font-weight: bold;
}
#commentsForm{
    position: absolute;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    display: none;
}